{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
<body  class="main-img">
<div class="hero-body">
    <div class="column is-auto large-font">
      <p class="title">Watch Movie</p>
      <p class="subtitle">Find new movies to see</p>
      <p class="subtitle">Recommendations for movies</p>
      <p class="subtitle">Film cast</p>
      <p class="subtitle">and IMDB reviews</p>
    </div>
    <div>
        <img src="../static/img/atr.png" style="width:30vw;" alt="lens">
    </div>

  </div>
</body>
{% endblock %}