{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="reset_pass_req auth-body">
    <div class="container glass-form">
        <br><br><br>
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
                <h1>Reset Password</h1>
                <br>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="row">
                            {{ form.email.label() }}
                            {{ form.email(class="form-control", placeholder="Confirm Password") }}
                            {{ form.submit(class="btn btn-lg btn-block butt") }}
                    </div>
                </div>
        </form>
    </div>
</body>
{% endblock %}
