.alert-info, .alert-danger, .alert-success, .alert {
    border-radius: 18px;
    color: white;
    font-size:2vh;
    left:0;
    right:0;
    text-align:center;
    position:absolute;
    max-width: 30vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    background: rgba( 0, 0, 0, 0.3);
    border: 1px solid white;
    padding: 1vh 2.5vw;
    top: 5vh;
    z-index:10;
}
